{% extends "summarizer/base.html" %}
{% load static %}
{% block index %}

    <div class="row">
        <div>
            <img src="https://image.shutterstock.com/image-vector/colorful-icon-summary-260nw-1251624841.jpg" style="width: 70px">
        </div>
        <div>
            <h3>TF-IDF Text Summarizer</h3>
            <p>"Don't waste your time reading long texts."</p>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="{% url 'nepali' %}">NP</a>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            {% if original_text and is_url %}
                <h3>Original URL</h3>
        
                    <a href="{{original_text}}" target="#">Go To link</a>
           
           
              
            {% elif original_text and is_para %}
                <h3>Original Text</h3>
                <p>{{ original_text }}  </p>
            {% else %}
                {% include "summarizer/includes/text_input_form.html" %}
            {% endif %}
        </div>

        <div class="col-sm-6">
            {% include "summarizer/includes/result.html" %}
        </div>

    </div>

{% endblock %}